
.web-chart {
    border: 1px solid black;
    float: left;
    width: 70%;
}

.project-show-page{
    width: 100%;
    height: 100%;
    border: 1px solid #e8940a;
    display: flex;

}

.left-side-bar{
    width: 30%;
    height: 100%;
    border: 1px solid #e8940a;
    float: left;
}

.project-tasks {

}

.project-task {
  padding: 20px 15px;
  border-bottom: 1px solid #999;
}

.task-title {
  margin-left: 10px;
  margin-right: 47px;
}

.task-owner {

}

.task-assigned-to {
  margin-right: 15px;
}

.project-tasks-title,
.project-title {
  text-align: center;
}

.task-details {
  text-align: center;
  font-size: 18px;
}

.project-team-member-count {
  margin-bottom: 10px;
}

.remove-task {
  border: 1px solid #999;
  border-radius: 50%;
  cursor: pointer;
  padding: 0px 4px;
}
