/* 
.modal-background{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    background: rgba(0, 0, 0, 0.7);
    overflow-y: auto;
  } */
  
  .modal-exit-symb i{
    color: white;
    margin-left: 27px;
    margin-top: 27px;
    font-size: 41px;
  }
  
  /* .modal-child {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0%);
  } */

  .modal-background { 
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    z-index: 100;
  }
  
  .modal-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .close-x {
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: pointer;
  } 
  
  